<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>气象数据监控</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <style>
        html, body {
            background-color: #F1F1F1;
            margin: 0;
            padding: 0;
        }
        #moniter>button {
            padding: 0px 15px;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card layui-form">
                <div class="layui-card-body layui-row layui-col-space15">
                    <div class="layui-col-md2">
                        <input type="radio" name="timeType" value="0" title="五分钟" checked="">
                        <input type="radio" name="timeType" value="4" title="一小时">
                    </div>
                    <div class="layui-col-md2">
                        <input type="text" class="layui-input" id="startTime" name="startTime" placeholder="请选择开始时间">
                    </div>
                    <div class="layui-col-md2">
                        <input type="text" class="layui-input" id="endTime" name="endTime" placeholder="请选择结束时间">
                    </div>
                    <div class="layui-col-md2">
                        <button type="button" class="layui-btn" id="btnsearch" lay-submit lay-filter="btnsearch">查询</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card layui-form">
                <div class="layui-card-body">
                    <div class="layui-bg-green" id="moniter">
                        <button class="layui-btn">时间<span class="layui-badge layui-bg-gray" id="time">0000-00-00 00:00:0</span></button>
                        <button class="layui-btn">温度(℃)<span class="layui-badge layui-bg-gray" id="tem">--</span></button>
                        <button class="layui-btn">湿度(%)<span class="layui-badge layui-bg-gray" id="rhu">--</span></button>
                        <button class="layui-btn">风速(m/s)<span class="layui-badge layui-bg-gray" id="wins">--</span></button>
                        <button class="layui-btn">风向(°)<span class="layui-badge layui-bg-gray" id="wind">--</span></button>
                        <button class="layui-btn">气压(hPa)<span class="layui-badge layui-bg-gray" id="prs">--</span></button>
                        <button class="layui-btn">能见度(m)<span class="layui-badge layui-bg-gray" id="vis">--</span></button>
                        <button class="layui-btn">太阳辐射强度(mg/L)<span class="layui-badge layui-bg-gray" id="sri">--</span></button>
                    </div>
                    <!--<ul class="layui-nav layui-bg-green">
                        <li class="layui-nav-item">
                            <a href="">时间：<span class="layui-badge layui-bg-gray" id="time">&#45;&#45;</span>&#45;&#45;</span></a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="">温度：<span class="layui-badge layui-bg-gray" id="tem">&#45;&#45;</span>&#45;&#45;</span></a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="">湿度：<span class="layui-badge layui-bg-gray" id="rhu">&#45;&#45;</span></a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="">风速：<span class="layui-badge layui-bg-gray" id="wins">&#45;&#45;</span></a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="">风向：<span class="layui-badge layui-bg-gray" id="wind">&#45;&#45;</span></a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="">气压：<span class="layui-badge layui-bg-gray" id="prs">&#45;&#45;</span></a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="">能见度：<span class="layui-badge layui-bg-gray" id="vis">&#45;&#45;</span></a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="">太阳辐射强度：<span class="layui-badge layui-bg-gray" id="sri">&#45;&#45;</span></a>
                        </li>
                    </ul>-->
                    <table class="layui-hide" id="mete"></table>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script>
    layui.use(['element', 'table', 'laydate', 'form'], function () {
        var form = layui.form;
        var table = layui.table;
        var element = layui.element;
        var laydate = layui.laydate;
        table.render({
            id: 'meteTable',
            elem: '#mete',
            method: 'post',
            page: true,
            data:[],
            cols: [
                [
                    {field: 'time', title: '时间', width: 160, sort: true, templet: function (d) {
                        return tranTime(d.time);
                    }},
                    {field: 'tem', title: '温度(℃)', sort: true},
                    {field: 'rhu', title: '湿度(%)', sort: true},
                    {field: 'wins', title: '风速(m/s)', sort: true},
                    {field: 'wind', title: '风向(度)', minWidth: 150, sort: true},
                    {field: 'prs', title: '气压(hPa)', sort: true},
                    {field: 'vsi', title: '能见度(m)', sort: true},
                    {field: 'sri', width: 185, title: '太阳辐射强度(mg/L)', sort: true}
                ]
            ],
            where: {
                'startTime': $('#startTime').val(),
                'endTime': $('#endTime').val(),
                'timeType': $('#timeType').val()
            },
        });

        laydate.render({
            elem: '#startTime',
            trigger: 'click',
            type: 'datetime'
        });


        laydate.render({
            elem: '#endTime',
            trigger: 'click',
            type: 'datetime'
        });

        form.render();
        form.on('submit(btnsearch)', function (data) {
            var formData = data.field;
            var timeType = formData.timeType,
                startTime = formData.startTime,
                endTime = formData.endTime;

            table.reload('meteTable', {
                page: {
                    curr: 1
                },
                where: {
                    'startTime': startTime,
                    'endTime': endTime,
                    'timeType': timeType
                },
                method: 'post',
                // contentType: "application/json;charset=utf-8", 加这个后controller接收不到参数
                contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                url: '/mms/mete/data'
            });
            return false;
        });
    });
    function tranTime(tempDate) {
        var d = new Date(tempDate);
        var year = d.getFullYear();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var hours = d.getHours();
        var minutes = d.getMinutes();
        var seconds = d.getSeconds();

        month = month<10 ? "0"+month:month;
        day = day<10 ? "0"+day:day;
        hours = hours<10 ? "0"+hours:hours;
        minutes = minutes<10 ? "0"+minutes:minutes;
        seconds = seconds<10 ? "0"+seconds:seconds;
        var time = year+"-"+month+"-"+day+" "+hours+":"+minutes+":"+seconds;
        return time;
    }

    var websocket = null;

    //判断当前浏览器是否支持WebSocket  ,主要此处要更换为自己的地址
    if('WebSocket' in window){
        websocket = new WebSocket("ws://localhost:8080/mms/ws/wzw");
    }
    else{
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){
        setMessageInnerHTML("open");
    };

    //接收到消息的回调方法
    websocket.onmessage = function(event){
        setMessageInnerHTML(event.data);
    };

    //连接关闭的回调方法
    websocket.onclose = function(){
        var closeStr = '-----------------------|----|----|----|----|----|----|----';
        setMessageInnerHTML(closeStr);
    };

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    };

    //将消息显示在网页上
    function setMessageInnerHTML(msg) {
        var data = msg.split("|");
        $("#time").text("");
        $("#time").text(data[0]);
        $("#tem").text("");
        $("#tem").text(data[1]);
        $("#rhu").text("");
        $("#rhu").text(data[2]);
        $("#wins").text("");
        $("#wins").text(data[3]);
        $("#wind").text("");
        $("#wind").text(data[4]);
        $("#prs").text("");
        $("#prs").text(data[5]);
        $("#vis").text("");
        $("#vis").text(data[6]);
        $("#sri").text("");
        $("#sri").text(data[7]);
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    //发送消息
    function send(){
        var message = document.getElementById('text').value;
        websocket.send(message);
    }
</script>
</body>
</html>